<div class="container my-5 ">
    <h1 class="display-4  text-center">Contact Us</h1>
    <!-- <p class="text-center" [class.text-success]="contact_msg">{{contact_msg}}</p> -->
    <form #bookingForm="ngForm"  (ngSubmit)="onSubmit();bookingForm.reset()" >
        <div class="row py-5">
            <div class="col-md-6">

                <div class="form-group">
                    <input type="email" class="form-control" [(ngModel)]="bookingModel.firstName" name="firstname" placeholder="First name" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" [(ngModel)]="bookingModel.lastName" name="lastname" placeholder="Last name" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" [(ngModel)]="bookingModel.age" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control"  [(ngModel)]="bookingModel.gender" name="phone" placeholder="Phone" required>
                </div>
            </div>
            <div class="col-md-6">
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
</div>