<div class="jumbotron jumbotron-fluid background">
  <div class="container">
    <h1 class="display-1">Adventure Is Worthwhile</h1>

    <p class="lead display-4">Dicover New Places With Us, Adventure Awaits</p>
    <button type="button" class="btn btn-success">Discover more</button>

  </div>
</div>


<app-package></app-package>
<div class="last">
      <div class="left">
        <div class="last3">
          <img src="../../assets/g-4.jpg">
          <div>
            <h3>Top destination</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam velit et nulla optio mollitia est, voluptas? Pariatur perferendis veritatis aperiam maiores at! Quos autem cum laboriosam, mollitia eius. Distinctio, unde.</p>
          </div>
        </div>
        <div class="last3">
          <img src="../../assets/img/b47jpg.jpg">
          <div>
            <h3>Top Advanture</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, perspiciatis. Id et nisi obcaecati unde velit, sequi modi aliquid sapiente error saepe ullam aliquam dicta! Expedita ut tempora, blanditiis nulla!</p>
          </div>
        </div>
        <div class="last3">
          <img src="../../assets/img/b49.jpg">
          <div>
            <h3>Top Food festival</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus sequi, quasi repudiandae vel facilis, voluptatibus tempora optio culpa doloremque iure consequatur eaque? Optio omnis necessitatibus ad illo placeat delectus obcaecati.</p>
          </div>
        </div>
      </div>
      <img src="../../assets/img/b42..jpg">
    </div>
    <br>

<app-contact></app-contact>
<app-footer></app-footer>
